@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff') format('woff'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7')
      format('svg');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.flexBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

#App {
  --font-size: 28px;
  --border-radius: 8px !important;

  text-align: center;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background: #5c8b7e;
  color: #ffebcc;
  font-weight: bold;
  font-size: var(--font-size);
  font-family: sans-serif;
}

h1 {
  font-size: calc(var(--font-size) * 2);
  font-weight: bold !important;
}

button {
  background: transparent;
  color: #ffebcc;
  border: 2px #86a79e outset;
  border-radius: var(--border-radius);
  margin: 10px !important;
  padding: 8px;
}

*:focus {
  outline: none !important;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

button:active {
  border: 2px #86a79e inset;
}

.UnitDuration,
#timer {
  margin: 15px;
}

#timer-block {
  border: 5px #86a79e groove;
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
  padding: 0 20px;
  border-radius: var(--border-radius);
  font-size: calc(var(--font-size) * 1.5);
}

#time-left {
  font-family: Digital;
  font-size: calc(var(--font-size) * 2);
}

.timeIsRunningOut {
  color: #813947;
}

@media screen and (max-width: 510px) {
  #App {
    --font-size: 20px;
  }
}
